<div ng-include="'header.html'"></div>
<div ng-app="listApp">
<div class="left">
<ul class="nav nav-left">

    <li ng-repeat="item in leftList track by $index"><a href="javascript:void(0)" ng-click="sortResult(event.target)">{{item}}</a></li>


</ul>
</div>
<!-- 列表页-->
<div class="middle">
<div class="searchButton">
	<form class="bs-example bs-example-form" role="form">

		<div class="input-group">
			<label></label><input type="text" class="form-control" id="title" placeholder="输入文章的标题或副标题查找">
		</div>
		<div class="input-group">	
			<label></label><input type="text" class="form-control" id="content" placeholder="输入文章内容查找">	

		<div class="input-group row">
			<span class="input-group-addon">标题：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><input type="text" class="form-control" id="title" placeholder="输入文章的标题查找">
		</div>
		<div class="input-group row">	
			<span class="input-group-addon">正文：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><input type="text" class="form-control" id="content" placeholder="输入文章内容查找">	
		</div>
		<div class="input-group row">
			<span class="input-group-addon">摘要：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><input type="text" class="form-control" id="summary" placeholder="输入文章的摘要查找">
		</div>
		<div class="input-group row">	
			<span class="input-group-addon">爬取时间：</span><input type="datetime-local" class="form-control" id="crawledStartTime" style="width:47%;border-radius:5px;"><span style="margin-left:2%;margin-top:5px;display:inline-block;">至</span><input type="datetime-local" class="form-control" id="crawledEndTime" style="width:47%;float:right;">	
		</div>
		<div class="input-group row">	
			<span class="input-group-addon">发布时间：</span><input type="date" class="form-control" id="publishedStartTime" style="width:47%;border-radius:5px;"><span style="margin-left:2%;margin-top:5px;display:inline-block;">至</span><input type="date" class="form-control" id="publishedEndTime" style="width:47%;float:right;">	
		</div>
		<div class="input-group row">	
			<span class="input-group-addon">地震事件：</span><input type="text" class="form-control" id="eventid" placeholder="输入事件序号查找">	

		</div>
		
		<button type="submit" class="btn btn-primary" ng-click="findContent()">查找</button>
		<button type="reset" class="btn clearInput">清除</button>
		
	</form>
</div>
<div class="timeLine">
<p class="toggleTable"><button ng-click="timeLineShow=true;listShow=false;">时间线展示</button><button ng-click="timeLineShow=false;listShow=true;">列表展示</button></p>
<div class="timeLineLists" ng-show="timeLineShow">
<ul class="cbp_tmtimeline" >
					<li ng-repeat="item in contentList | orderBy:'-publishedtime'">
						<time class="cbp_tmtime"><span style="font-size:16px;text-align:left;">{{item.publishedtime}}</span></time>
						<div class="cbp_tmicon cbp_tmicon-earth"></div>
						<div class="cbp_tmlabel">
							<h2><a href="#/contentdetail?id={{item.id}}" style="color:white;">{{item.title}}</a></h2>
							<p>{{item.summary}}</p>
						</div>
					</li>
				</ul>
</div>
</div>
<div class="content-list" ng-show="listShow">
    <div class="item-list" id="item-list">
    <div class="sort">

    	<a href="javascript:void(0)" ng-click="sortByOrder(event.target)">按爬取时间↑</a><a href="javascript:void(0)" ng-click="sortByOrder(event.target)">按爬取时间↓</a><a href="javascript:void(0)" ng-click="sortByOrder(event.target)">按发布时间↑</a><a href="javascript:void(0)" ng-click="sortByOrder(event.target)">按发布时间↓</a><a href="javascript:void(0)" ng-click="sortByOrder(event.target)">按事件↑</a><a href="javascript:void(0)" ng-click="sortByOrder(event.target)">按事件↓</a>
    </div>	
    <table class="tablePart">
		<tr>
			<td>地震事件</td>
			<td>发布时间</td>
			<td>关键词</td>
			<td>信息来源</td>
			<td>标题</td>
			<td>摘要</td>
			<td>网址</td>
			<td>收集时间</td>
		</tr>
		<tr ng-repeat="item in contentList" id="{{item.id}}">
			<td><a href="#/contentdetail?id={{item.id}}" ng-click="getID(event.target)">{{item.eventid}}</a></td>
			<td>{{item.publishedtime}}</td>
			<td>{{item.typename}}</td>
			<td>{{item.source}}</td>
			<td>{{item.title}}</td>
			<td>{{item.summary}}</td>
			<td>{{item.url}}</td>
			<td>{{item.crawledtime}}</td>
		</tr>
</table>
       
		<div style="text-align:center;">
        	<ul class="pagination pagination-sm" ng-repeat="item in pageArray">
				<li><a href="javascript:void(0)" ng-click="sortByPage(event.target)">{{item}}</a></li>
			</ul>
        </div>
  
</div>
</div>
</div>
