
<ul class="nav nav-left">
    <li ng-repeat="item in leftList"><a href="#">{{item}}</a></li>
</ul>
<!-- 列表页-->
<div class="searchButton">
	<form class="bs-example bs-example-form" role="form">
		<div class="input-group">
			
			<input type="text" class="form-control" ng-model="title" placeholder="输入文章的标题或副标题查找">
		</div>
		<div class="input-group">
			
			<input type="text" class="form-control" ng-model="content" placeholder="输入文章内容查找">
			
		</div>
		<button type="button" class="btn btn-primary" ng-click="findContent($event)">查找</button>
		<button type="button" class="btn btn-primary clearInput" ng-click="clearContent()">清除</button>
		
	</form>
</div>
<div class="content-list">
    <div class="item-list" id="item-list">
        <div class="content-item" ng-repeat="item in contentList" id="{{item.id}}">
            <div class="parting-line"></div>
            <div class="item-title"><a href="#/contentDetail" ng-model="detailTitle">{{item.title}}</a></div>
            <div class="item-info">{{item.info}}</div>
            <div class="item-abstract">{{item.abstract}}</div>
        </div>
    </div>
    <div class="load-more">
        <div class="load-more-content" ng-click="loadMore($event)">
            加载更多
        </div>
    </div>
</div>