
/* 头导航栏样式 */
body{
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
}

.nav-top{
    width: 1227px;
    background: #447e9f;
    margin: auto;
}

.brand-title{
    color: white;
}

.brand-title:hover{
    cursor: pointer;
    color: #ffb73d;
}
.navbar-header{
	width: 100%;
	padding-right: 20px;
}
.navbar-header .a1,.navbar-header .a2{
	color: white;
	float: right;
	display: inline-block;
	margin-top: 15px;
	width: 90px;
	margin-right: 20px;
}
.navbar-header .a2{
	border-right: 1px solid white;
}
/* 页面主体样式 */
.main-content{
    width: 1227px;
    margin: auto;
}

/* 侧边栏样式 */
.nav-left{
    position: fixed;
    margin-top: 30px;
    width: 120px;
}

.nav-left li{
    border-bottom: 1px dotted rgb(50,58,69);
    font-size: 15px;
}
.nav-left li a{
	padding:10px;
	text-align: center;
	
}

/* 内容列表样式 */
.content-list {
    margin-top: 30px;
    margin-left: 180px;
    padding: 20px 0px 20px 0px;
}

.content-item{
    margin-bottom: 30px;
}

.parting-line{
    margin-bottom: 5px;
    border-bottom: 1px solid #447e9f;
}

.item-title {
    font-weight:800;
    color: #447e9f;
    padding: 10px;
    cursor: pointer;
    /*width: 8%;*/
}

.item-info {
    color: #447e9f;
    padding: 10px;
    /*width: 15%;*/
}
.item-abstract{
/*	width: 50%;*/
}
.item-abstract {
    padding: 10px;
    cursor: pointer;
}
thead th{
	text-align: center;
}
.sort a{
	float: right;
	margin-left: 10px;
}
.load-more{
    float: right;
    width: 100%;
    height: 40px;
    border: 1px solid #447e9f;
    margin-top: 40px;
    margin-bottom: 50px;
    display: table;
    cursor: pointer;
}

.load-more-content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

/* 内容详情样式 */
.content-detail{
    margin-top: 60px;
    margin-left: 200px;
    padding: 20px 20px 20px 40px;
}

.detail-header{
    margin-top: 20px;
    background: #f2f4f6;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.detail-title{
    margin-top: 30px;
    font-size: 22px;
    font-weight: 800;
    color: #2e6889;
    text-align: center;
}

.detail-info{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #a9aaab;
    text-align: center;
}

.detail-detail-header{
    margin-top: 20px;
    height: 40px;
    background: #f2f4f6;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px 0;
}

.detail-detail-header span{
    margin-left: 10px;
    font-size: 15px;
    color: #a9aaab;
}

.detail-detail{
    margin-top: 30px;
    color:#484848;
    font-size: 18px;
    line-height: 1.8;
}
/*检索栏*/
.searchButton{
	margin-top: 80px;
	margin-left:180px;
	border: 1px solid #2e6889;
	padding: 20px;
	padding-left: 200px;
	border-radius:10px ;
}
.input-group{
	width: 600px;
	margin-bottom: 10px;
	/*border-radius: 15px;*/
}
.btn{
	margin-left: 200px;
	width: 60px;
}
.clearInput{
	margin-left: 40px;
	background-color: #CCCCCC;
	color: #2e6889;
}

.input-group .form-control:last-child{
	border-radius: 5px;
}
.input-group textarea{
	height: 150px;
}
/*爬虫配置页面*/
.craw-config{
	width: 900px;
	margin: 100px auto;
}
.craw-config .input-group{
	width: 900px;
}
.craw-config button{
	width: 120px;
	text-align: center;
	margin-left: 300px;
}
.craw-config .clearInput{
	margin-left: 20px;
}
.craw-config a{
	float: right;
	margin-top: 20px;
}
