
/* 头导航栏样式 */
body{
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
	margin:auto;
}

.nav-top{
   
    background: #447e9f;
    margin: auto;
}

.brand-title{
    color: white;
}

.brand-title:hover{
    cursor: pointer;
    color: #ffb73d;
}
.navbar-header{
	width: 100%;
	padding-right: 20px;
}
.navbar-header .a1,.navbar-header .a2{
	color: white;
	float: right;
	display: inline-block;
	margin-top: 15px;
	width: 90px;
	margin-right: 20px;
}
.navbar-header .a2{
	border-right: 1px solid white;
	margin-right: 10px;
    width: 110px;
}
/* 页面主体样式 */
.main-content{
    width: 1227px;
    margin: auto;
}

/* 侧边栏样式 */
.nav-left{
    position: fixed;
/*    margin-top: 30px;*/
    width: 160px;
    overflow: auto;
	left:90px;
}

.nav-left li{
    border-bottom: 1px dotted rgb(50,58,69);
    font-size: 15px;
    
}
.nav-left li a{
	padding:10px;
    text-align: center;
}
/* 内容列表样式 */
.content-list {
    margin-top: 30px;
    margin-left: 0px;
    padding: 20px 0px 20px 0px;
}

.content-item{
    margin-bottom: 30px;
}

.parting-line{
    margin-bottom: 5px;
    border-bottom: 1px solid #447e9f;
}
.tablePart{
	width:100%;
}

table tr:first-child td{
	text-align: center;
	font-size: 15px;
	color: #337ab7;

}
.tablePart td{
	border:1px solid #ddd;
	padding:5px
}
.tablePart td:first-child{
	width:6%;
}
.tablePart td:nth-child(2){
	width:6%;
}
.tablePart td:nth-child(3){
	width:10%;
}
.tablePart td:nth-child(4){
	width:6%;
}
.tablePart td:nth-child(5){
	width:12%;
}
.tablePart td:nth-child(6){
	width:36%;
}
.tablePart td:nth-child(7){
	width:16%;
}
.sort a{
	float: right;
	margin-left: 10px;
}


/* 内容详情样式 */
.content-detail{
    margin-top: 60px;
    padding: 20px 20px 20px 40px;
}

.detail-header{
    margin-top: 20px;
    background: #f2f4f6;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.detail-title{
    margin-top: 30px;
    font-size: 22px;
    font-weight: 800;
    color: #2e6889;
    text-align: center;
}

.detail-info{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #a9aaab;
    text-align: center;
}

.detail-detail-header{
    margin-top: 20px;
    height: 40px;
    background: #f2f4f6;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px 0;
}

.detail-detail-header span{
    margin-left: 10px;
    font-size: 15px;
    color: #a9aaab;
}

.detail-detail{
    margin-top: 30px;
    color:#484848;
    font-size: 18px;
    line-height: 1.8;
}
/*检索栏*/
.searchButton{
	margin-top: 80px;
	margin-left:0px;
	border: 1px solid #2e6889;
	padding-left: 10%;
	padding-right:10%;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:10px ;
}

.input-group{

	width: 100%;

	margin-bottom: 10px;
	
	/*border-radius: 15px;*/
/*	display: block;*/
}

.btn{
	margin-left: 40%;
	width: 60px;
}
.clearInput{
	margin-left: 40px;
	background-color: #CCCCCC;
	color: #2e6889;
}

.input-group .form-control:last-child{
	border-radius: 5px;
}
.input-group textarea{
	height: 150px;
}
/*爬虫配置页面*/
.craw-config{
	width: 900px;
	margin: 100px auto;
	margin-left:-20px;
}
@media only screen and (min-width: 1441px){
	.craw-config{
	width: 900px;
	margin: 100px auto;
	margin-left:20px;
}

}
.craw-config .input-group{
	width: 900px;
}
.craw-config button{
	width: 120px;
	text-align: center;
	margin-left: 300px;
}
.craw-config .clearInput{
	margin-left: 20px;
}
.craw-config a{
	float: right;
	margin-top: 20px;
}
.process-title{
	margin-top:30px;
}
.process{
	height:300px;
	overflow:auto;
	padding-left:10px;
	border:1px solid #ccc;

}
.process p{
	margin-bottom:0;
	
}
.process p span{
	margin-right:10px;
}
.input-group-addon{
	background-color: white;
	border: none;
	font-weight: 500;
	font-size: 17px;
}
//圣杯布局
*{margin: 0;padding: 0;}
    body{min-width: 1280px;}
    .header{ 
        border: 1px solid #333;
        text-align: center;
		width:100%;
    }
    .left,
    .middle{ 
        position: relative;
        float: left;
        min-height: 130px;
    }
    .container{
        padding:0 100px 0 100px;
        overflow: hidden;
    }
    .left{
        margin-left: -100%;
        left: -200px;
        width: 120px;
		margin-top:80px;
		overflow:auto;
    }
    .middle{ 
        width: 100%;

        word-break: break-all;

    }
	.container{
		padding-left:300px;
		padding-right:100px;
		width:100%;

	}
	/*Home页*/
	.home{
		position: absolute;
		height: 100%;
		width: 100%;
		background: white;
		top: 0;
		left: 0;
	}
	.home1{
		background: #447e9f;
		height: 100%;
		width: 50%;
		position: fixed;
		left: 0;
		top: 0;
	}
	.home h1{
		margin-top: 40%;
		float: right;
		margin-right: 50px;
		width: 250px;
		font-size: 50px;
		text-shadow: 5px 5px 5px #122B40;
		
	}
	.home h1 a{
		color: white;
	}
	.home a:hover{
		text-decoration: none;
	}
	.home2{
		width: 130px;
		height: 130px;
		border-radius: 50%;
		position: fixed;
		left: 53%;
		top: 42%;
		background:#447e9f;
		
		animation: enlarge infinite;
		-webkit-animation-name: enlarge;
		-webkit-animation-iteration-count:infinite;
		-webkit-animation-duration: 4s;
	}
	@keyframes enlarge{
		0% {
			width: 100px;
			height: 100px;
		}
		/*50%{width: 130px;height: 130px;}*/
		100%{width: 110px;height: 110px;}
		/*75%{width: 150px;height: 150px;}*/
		/*100%{width: 160px;height: 160px;}*/
	}
	.home2:hover{
		cursor: pointer;
	}
	.home2 a{
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		padding-top: 40%;
		color:white;
		font-size: 16px;
	}


/*时间线*/
.toggleTable{
	text-align:center;
	margin-top: 30px;
}
.toggleTable button{
	height: 30px;
    width: 150px;
    background: white;
    border: 1px solid #447e9f;
}
.toggleTable button:first-child{
	border-right:none;
	border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.toggleTable button:last-child{
	border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}